doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title YASB to List Juggler Import
    link(href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="select2/select2.css" rel="stylesheet")
    link(href="fontawesome/css/font-awesome.min.css" rel="stylesheet")
  body
    .container-fluid
      .row
        h1.col-xs-12 Juggle It!
      .row
        .col-xs-12.alert.alert-danger.hidden#alert
      .row
        b.col-xs-12 XWS Pilot Summary
      .row
        pre.col-xs-12= list_info
      .row
        .col-xs-12
          label.control-label(for="#tourney_id") Tournament
      .row
        .col-xs-12
          input#tourney_id
      .row
        .col-xs-12
          label.control-label(for="#player_id") Player
      .row
        .col-xs-12
          input#player_id
      .row
        .col-xs-12
          label.control-label(for="#player_name") Or add a new player
          input.form-control#player_name(placeholder="Player name")
      .row
        .col-xs-12
          label.control-label(for="#email") TO's email
          input.form-control#email(placeholder="Email used to register tournament in List Juggler (for authentication)")
      .row
        .col-xs-12
          button.btn.btn-block.btn-primary#add-list(style="margin-top: 10px;") Submit List to List Juggler
    script(src="jquery/dist/jquery.min.js")
    script(src="bootstrap/dist/js/bootstrap.min.js")
    script(src="select2/select2.min.js")
    script(src="yasb_xws.min.js")
    script.
      var juggler_api_url = '#{juggler_api_url}';
      var last_tourney_id = '#{last_tourney_id}';
      var last_email = '#{last_email}';
    script
      :coffeescript
        $ ->
          $('#tourney_id').val last_tourney_id
          $('#email').val last_email
          window.api = new ListJugglerAPI(juggler_api_url)
